# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# ide stuff
\.idea/

# Configuration
*.ini
!config.example.ini
src/utils/database/config\.json

# Temp files
src/core/images/tmp/

# Log files
*.log

# Os files
.DS_Store

# Database backups
backups/*
!backups/.gitkeep

# Test results
.coverage
