# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# ide stuff
\.idea/

# Configuration
*.ini
!config.example.ini
src/utils/database/config\.json

# Temp files
src/core/images/tmp/

# Stream output files
nohup.out

# Log files
/koneko.log

# Os files
.DS_Store
