# Byte-compiled / optimized / DLL files
__pycache__/

# ide stuff
\.idea/

# Configuration
*.ini
!config.example.ini
src/utils/database/config\.json

# Temp files
src/core/images/tmp/

# Stream output files
nohup.out
